<style>
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 4px;
  }
  
  /* Hide default HTML checkbox */
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ffc107;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ffc107;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
</style>

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create a New Short Link</a>
      </div>
    </div>
    <label class="switch" style="margin-right: 10px">
      <input id="theme-button" type="checkbox">
      <span class="slider round"></span>
    </label>
    <button style="margin-right: 10px" class="btn btn-warning">Theme</button>
    <% if (user) { %>
      <form method="POST" action="/logout?_method=PUT">
        <span style="padding-right: 10px">Logged in as: <%= user.email %></span>
        <button type="submit" class="btn btn-primary">Logout</button>
      </form>
    <% } else { %>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/register">Register</a>
        <a class="nav-item nav-link" href="/login">Login</a>
      </div>
    <% } %>
  </nav>
</header>