<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
    <title>TinyApp - New</title>
  </head>

  <body class="text-light bg-dark">

    <%- include('partials/_header') %>

    <main style="margin: 1em;" class="bg-dark">
      <h1>Create TinyURL</h1>
      <form class="form-inline" action="/urls" method="POST">
        <div class="form-group mb-2">
          <label for="longURL">Enter a URL:</label>
          <input class="form-control" type="text" name="longURL" placeholder="http://www.example.com" style="width: 300px; margin: 1em">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </main>
    
    <%- include('partials/_scripts') %>
  </body>
</html>
